[[source]]
name = "pypi"
url = "https://pypi.org/simple/"
verify_ssl = true

[dev-packages]
pytest-pyppeteer = {editable = true, path = "."}
sphinx-rtd-theme = "*"

[packages]
cssselect = "*"
lxml = "*"
pydantic = "*"
pyppeteer = "*"
pytest = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.8"
