[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[dev-packages]
pytest-pyppeteer = {editable = true,path = "."}
sphinx-rtd-theme = "*"
v = {editable = true,version = "*"}

[packages]
pytest = "*"
pyppeteer = "*"
pytest-asyncio = "*"
pydantic = "*"
cssselect = "*"
lxml = "*"

[requires]
python_version = "3.9"
