appdirs==1.4.4
attrs==19.3.0
cssselect==1.1.0
iniconfig==1.0.1
lxml==4.5.2
more-itertools==8.4.0
packaging==20.4
pluggy==0.13.1
py==1.9.0
pydantic==1.6.1
pyee==7.0.2
pyparsing==2.4.7
pyppeteer==0.2.2
pytest==6.0.1
pytest-asyncio==0.14.0
six==1.15.0
toml==0.10.1
tqdm==4.48.2
urllib3==1.25.10
websockets==8.1
